@model Product



<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/images/@Model.Picture" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Year @Model.Make @Model.Model</h5>
        <p class="card-text">Mileage: @Model.Mileage</p>
        <p class="card-text">Price:$@Model.Price</p>
        <form id="@Model.ProductID" asp-action="AddToCart"
              asp-controller="Cart" method="post" class="float-right m-2 p-1">
            <input type="hidden" asp-for="ProductID" />
            <input type="hidden" name="returnUrl"
                   value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" class="btn btn-info btn-sm float-right">
                Add To Cart
            </button>
        </form>
    </div>
</div>


@*
    <div class="card m-3 rounded">
        <div class="card-block m-2">
            <div class="card-body">
                <h3 class="card-title">
                    <strong>@Model.Make</strong>
                </h3>
                <p class="card-text lead">
                    @Model.Model
                </p>

                <img src="~/images/@Model.Picture" class="rounded-circle" height="50" width="50" asp-append-version="true" />

                <span class="float-left bg-success text-white rounded m-2 p-1">
                    @Model.Price.ToString("c")
                   miles: @Model.Mileage
                </span>
                <form id="@Model.ProductID" asp-action="AddToCart"
                      asp-controller="Cart" method="post" class="float-right m-2 p-1">
                    <input type="hidden" asp-for="ProductID" />
                    <input type="hidden" name="returnUrl"
                           value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="btn btn-info btn-sm float-right">
                        Add To Cart
                    </button>
                </form>
            </div>
        </div>
    </div>
*@